.spinner-border {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 8rem;
  height: 8rem;
}

.sr-only {
  width: 3rem;
  height: 3rem;
}

.spinner-border checkbox {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
