.btn-success {
  margin-right: 8px;
}

.btn-warning {
  margin-right: 8px;
}

.table {
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}

.right {
  text-align: end;
}

#action-buttons {
  width: 1%;
  white-space: nowrap;
  text-align: end;
}
